*{
     font-family:  'Actor', sans-serif;

}
html {
 height: 100vh;
   
}
body {
	 background-color:white;
     height: 100vh;
     padding: 0;
     margin: 0;
     font-family: 'Actor', sans-serif;

	}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 15vw;
    margin-top: 25px;
     float: right;


}

li {
    display: inline;
   
}

li a {
    display: inline;
    color: #CDE3EE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-family: 'Actor', sans-serif;

    }

 /*Change the link color to #111 (black) on hover */
li a:hover {
    color: #111;
    }


.box,
.heading{
    margin-bottom: 0px;
    background-color:  #506975;
    
}
.heading {
	text-align: center;
}
.logo{
    
    margin-left: 38%;
    margin-top: 13%;
    width: 28%;
 
}
#grid-container{
	height: 100vh;
    width: 100%;
	padding: 0px;
	margin: 0 auto;
	display: grid;
	grid-template-columns:repeat(4, 1fr) ;
}
.box{
	height:350px;

}
#box1 {
    grid-column: 1 / 6;
    padding: 0;
    margin-top:0;
   height: 100vh;
   background-color:  #506975;
}
#box2 {
    grid-column: 1/ 6;
    background-color: white;
    height: 35vh;
}

#box3{
    grid-column: 1 / 6;
    background-color: white;
    height: 50vh;
    margin-bottom: 30px;
}

#box4 {
    grid-column: 1 / 6;
    background-color: white;
     height: 40vh;
     padding: 0px;
}
#box5 {
    grid-column: 1/6;
     background-color: #506975;
     height: 15vh;
}
#grid2{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    height: 35vh;
    width: 95%;
    margin-top: 6%;
    padding: 0px;
    margin: 0 auto;
}
.item{
  
    height: 95%;
    
}
#item1{
    grid-column:1/2;
    margin: 10px;
    background-color: white;
     transition: transform .2s;
}


#item2{
    grid-column: 2/3;
    margin: 10px;
}
#item3{
    grid-column:3/4;
    margin: 10px;
}
#item4{
    grid-column:4/5;
    margin: 10px;
}
#heading2 {
        color: #506975;
        text-align: center;
        margin-top: 3%;
    }
#heading3 {
     color: #506975;
    text-align: center;
    margin: 0px;
    padding-top: 2%;
}
#heading4 {
    color: #506975;
    text-align: center;
    margin: 0px;
    padding-top:2%;
}
#aboutme {
    
    height:100%;
    width: 100%;
    margin: 0 auto;
}
.line {
    border-top: 1px solid rgba(114,131,136,.15);
    width: 80%;
    margin: 0 auto;
}
#abouttext {
    text-align: center;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 2%;
    line-height: 1.5;
    font-size: 20px;
    color: #545556;
}
#contactme {
    
    height:100%;
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;

}
.mockup1 {
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    margin-left:3%;

}
.aop {
    height: 70%;
}
.road {
    margin-top: 10%;
}
.maps {
    margin-top: 15%;
}
.Api {
    margin-top: 12%;
}
.mockup1Title {
    text-align: center;
}
.tTwo {
    padding-top: 5.5%;
    padding-bottom: 3.75%;
}
.tThree {
    padding-top: 9%;
    padding-bottom: 2.5%;
}
.tFour {
    padding-top: 20%;
    padding-bottom: 3.75%;
}
.formContainer{
    width: 53%;
    margin: 0 auto;
    padding-top: 4%;
}
#contactMessage{
    text-align: center;
        margin: 0px;
    padding-top: 2%;
    font-size: 20px;
}
.formStyle {
    border: none;
    height: 25px;
    width: 22%;
    font-family: inherit;
    font-size: 15px;
    padding:10px;
}
.submitStyle{
    border: none;
    height: 45px;
    width: 22%;
    font-family: inherit;
    font-size: 15px;
    background-color: #506975;
    color: white;
    cursor: pointer;
}

#modal1{
    font-family:  'Actor', sans-serif;
}

h3 {
    text-align: center;
    margin-top: 0;
}

p {
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.button {
    margin-left: 32%;
    border: none;
    height: 40px;
    width: 160px;
    font-size: 20px;
    color: white;
     background-color: #506975;
    border-radius: 5px;
   cursor: pointer;
   padding: 8px 30px;
   text-decoration: none;
}
.view {
    text-decoration: none;
    margin-left: 36%;
    background-color: #506975;
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
}
.creators {
    text-align: center;
    padding-bottom: 
}
h2 {
    text-align: center;
}
.footer-text {
    color: white;
    text-align: center;
    margin-top:3.5%;
}
.modal {
        height: 90%;
    overflow-y:scroll;
    overflow-x:hidden ;
}
.modal a.close-modal {
        top: 10.5px;
    right: 16.5px;
}

@media screen and (max-height: 800px) and (min-height: 500px) and (min-width: 1400px) {/*desktop*/
  #box3 {
    height: 55vh; 
    } 
}

@media only screen  and (max-width: 1000px) and (min-width: 500px) {/* Tablet */
/* Styles */
     ::-webkit-scrollbar { 
    display: none; 
}
    body {
        height: 180vh;
    }
    #grid-container {
        height: 180vh;
    } 
    #box1 {
        height: 48vh;
    }
    #box2 {
        height: 27vh;
    }
    #box3 {
        height: 72vh;
    }
    #box4 {
        height: 24vh;
    }
     #box5 {
        height: 6vh;
    }
    #grid2 {
        grid-template-columns: repeat(2, 1fr);
    }
    #item3 {
        grid-column: 1/2;
    }
    #item4 {
        grid-column: 2/4;
    }
    .mockup1 {
        width: 85%;
    }
    .formContainer {
        width:94%;
    }

     #abouttext {
        font-size: 16px;
     }
     .modal {
        height: 70%;
    }

}
@media screen and (max-height: 900px) and (max-width: 1000px) and (min-height: 500px) and (min-width: 500px) { /*tablet with smaller height
*/
  #box1 {
        height: 55vh !important;
    }
    #box2 {
        height: 40vh;
    }
    #box3 {
        height: 88vh;
    }
    #box4 {
        height: 30vh;
    }
     #box5 {
        height: 6vh;
    }
     .formContainer {
        width:96%;
    }
    .formStyle {
        margin-bottom: 5px;
    }
    .logo {
        margin-top: 5%;
    }
}
@media screen and (max-height: 900px) and (max-width: 1000px) and (min-height: 700px) and (min-width: 780px) { /*inbetween tablet and desktop
*/
    .mockup1 {
        width: 60%;
        margin-left:23%;
    }
    .aop {
        height: 62%;
    }
    .view {
        margin-left:40%;
    }

    .road {
        margin-top: 4%;
    }
}
/*small phone*/
@media screen  and (min-width: 320px) and (max-width: 500px) { 
    html {
        overflow: scroll;

    }
         ::-webkit-scrollbar { 
    display: none; 
}
 body {
        height: 368vh;
        width: 108vw;
    }
    #grid-container {
        height: 368vh;
        width: 108vw;
    } 
     #box1 {
        height: 35vh !important;
    }
    #box2 {
        height: 61vh;
    }
    #box3 {
        height: 220vh;
    }
    #box4 {
        height: 42vh;
    } 
    #box5 {
        height: 16vh;
    }
    #grid2 {
        grid-template-columns: repeat(1, 1fr);
    }
    #item2 {
        grid-column: 1/2;
    }
    #item3 {
        grid-column: 1/2;
    }
    #item4 {
        grid-column: 1/2;
    }
    .button {
        margin-left:6%;

    }
    p {
        padding: 0;
    }
    #abouttext {
        font-size: 13.5px;
        margin-top:5%;
    }
    .navListItems {
        display: none;
    }
    .formContainer {
        width: 100%;
        margin-left: 8%;

    }
    .submitStyle {
        margin-left: 17%;
        margin-top: 7px;
        width: 52%;
    }
    .footer-text {
        font-size: 14px;
        margin-top: 10.5%;
    }

     #contactMessage {
        font-size: 16px;
     }
     .logo {
     margin-left: 32%;
    margin-top: 7%;
    width: 40%;
     }

}
