*{
     font-family:  'Actor', sans-serif;

}

body {
	 background-color:white;
     height: 100vh;
     padding: 0;
     margin: 0;
     font-family: 'Actor', sans-serif;

	}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 15vw;
    margin-top: 25px;
     float: right;


}

li {
    display: inline;
   
}

li a {
    display: inline;
    color: #CDE3EE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-family: 'Actor', sans-serif;

    }

 /*Change the link color to #111 (black) on hover */
li a:hover {
    color: #111;
    }


.box,
.heading{
    padding: 10px;
    margin-bottom: 0px;
    background-color:  #506975;
    
}
.heading {
	text-align: center;
}
.logo{
    
    margin-left: 38%;
    margin-top: 13%;

 
}
#grid-container{
	height: 100vh;
    width: 100%;
	padding: 0px;
	margin: 0 auto;
	display: grid;
	grid-template-columns:repeat(4, 1fr) ;
}
.box{
	height:350px;

}
#box1 {
    grid-column: 1 / 6;
    padding: 0;
    margin-top:0;
   height: 100vh;
   background-color:  #506975;
}
#box2 {
    grid-column: 1/ 6;
    background-color: white;
    height: 40vh;
}

#box3{
    grid-column: 1 / 6;
    background-color: white;
    height: 42vh;
}

#box4 {
    grid-column: 1 / 6;
    background-color: white;
     height: 45vh;
}
#box5 {
    grid-column: 1/6;
     background-color: #506975;
     height: 15vh;
}
#grid2{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    height: 35vh;
    width: 95%;
    padding: 0px;
    margin: 0 auto;
}
.item{
    background-color: grey;
    height: 95%;
}
#item1{
    grid-column:1/2;
    margin: 10px;
    background-color: white;
     transition: transform .2s;
}
#item1:hover{
transform: scale(1.1);
}
#item2{
    grid-column: 2/3;
    margin: 10px;
}
#item3{
    grid-column:3/4;
    margin: 10px;
}
#item4{
    grid-column:4/5;
    margin: 10px;
}
#heading2 {
        color: #506975;
        text-align: center;
    }
#heading3 {
     color: #506975;
    text-align: center;
}
#heading4 {
    color: #506975;
    text-align: center;
}
#aboutme {
    background-color: grey;
    height:80%;
    width: 95%;
    margin: 0 auto;
}
#contactme {
    background-color: grey;
  height:80%;
    width: 95%;
    margin: 0 auto;

}
.mockup1 {
    width:100%;
}
.mockup1Title {
    text-align: center;
}
.formContainer{
    width: 54%;
    margin: 0 auto;
}
.iziModal-header{
    background: #506975;
}
#modal1{
    font-family:  'Actor', sans-serif;
}
.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-header-title {
   font-family:  'Actor', sans-serif; 
   font-size: 30px;
}